// FONTS
//fontfam-main: 
$fontfam-mono: "Roboto Mono";
$fontsize-small: 12px;
$fontsize-main: 16px;
$fontsize-large: 20px;

// SIZES



// BACKGROUND COLORS
$bgcol-bar: rgba(200, 200, 100, 0.0);

$bgcol-accent-1: #226688;
$bgcol-accent-1-l1: #5599AA;
$bgcol-accent-1-l2: #77BBEE;
$bgcol-accent-2: #D35D6E;
$bgcol-accent-2-l1: #F37D8E;
$bgcol-accent-2-l2: #FFADBE;

// FOREGROUND COLORS
$fgcol-dark: #000000;
$fgcol-light: #b0b4bc;
$fgcol-light-hilight: #ffffff;

// application colors
$bgcol-spotify: #1DB954;
$fgcol-spotify: #ffffff;

//:root {
//    --bar-bg-color: rgba(200, 200, 100, 1);
//}